<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<title>ninja_gold</title>
	{% load static %}
<link rel="stylesheet" href="{% static 'ninjaGold/css/style.css' %}" media="screen" title="no title"  charset="utf-8">	
</head>
<body>
	<div id="wrapper">
		<div id="your_gold">
			<h5>Your Gold:</h5>
			<p>{{ request.session.gold }}</p>
		</div>
		<div class="location">
			<h3>Farm</h3>
			<p>(earns 10-20 golds)</p>
			<form action='/process_money' method='POST'>
				{% csrf_token %}
				<input class="loc" type="hidden" name="loc" value="farm">
				<button id="submit">Find Gold!</button>	
			</form>
		</div>
		<div class="location">
			<h3>Cave</h3>
			<p>(earns 5-10 golds)</p>
			<form action='/process_money' method='POST'>
				{% csrf_token %}
				<input class="loc" type="hidden" name="loc" value="cave">
				<button id="submit">Find Gold!</button>
			</form>	
		</div>
		<div class="location">
			<h3>House</h3>
			<p>(earns 2-5 golds)</p>
			<form action='/process_money' method='POST'>
				{% csrf_token %}
				<input class="loc" type="hidden" name="loc" value="house">
				<button id="submit">Find Gold!</button>
			</form>	
		</div>
		<div class="location">
			<h3>Casino</h3>
			<p>(earns/takes 0-50 golds)</p>
			<form action='/process_money' method='POST'>
				{% csrf_token %}
				<input class="loc" type="hidden" name="loc" value="casino">
				<button id="submit">Find Gold!</button>
			</form>	
		</div>
		<p>Activities:</p>
		<div id="activities">
			{% for log in request.session.activities reversed %}
      			<p class="{{ log.class }}">{{ log.activity }}</p>
    		{% endfor %}
		</div>
		<a href="/reset"><button>Reset</button></a>	
	</div>
</body>
</html>