<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>dojo_survey</title>
		{% load static %}
	<link rel="stylesheet" href="{% static 'surveys/css/style.css' %}" media="screen" title="no title"  charset="utf-8">

</head>
<body>
	<div id="wrapper">
		<div class="page">
			<form action='/process' method='POST'>
				{% csrf_token %}
				Your Name: <input id="name" type="text" name="name"><br>				
			    Dojo Location: <select id="location" name="location">
				    <option value="San Jose">San Jose</option>
				    <option value="Seattle">Seattle</option>
				    <option value="Los Angeles">Los Angeles</option>
				    <option value="Dallas">Dallas</option>
			    </select>
			    <br>
			    Favorite Language: <select id="language" name="language">
				    <option value="Python">Python</option>
				    <option value="JavaScript">JavaScript</option>
				    <option value="SQL">SQL</option>
				    <option value="Java">Java</option>
			    </select>
			    <br>
			    <label>Comment (optional):</label>
			    <textarea id="com_block" type="text" name="comment"></textarea>
				<br>
				<input id="btn" type="submit" value="Submit">
			</form>
		</div>

	</div>
</body>
</html>